.root {

}

/*.button {
    -fx-background: transparent;
    -fx-background-color: transparent;
}*/

#menuPane {
    -fx-background-color: #87CEFA;
    /*-fx-background-color: #4682b4;*/
    /*-fx-background-color: #6581BD;*/
    /*-fx-background-color: #6284BD;*/
    /*-fx-background-color: "skyblue";*/
}

#pronounceButton {
    -fx-background-image: url(../icon/volume24.png);
    -fx-background-size: 24;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-background-position: left;
}

#findingButton {
    -fx-background-image: url(../icon/search24.png);
    -fx-background-size: 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-background-color: #BED9FF;
    /*-fx-background-color: #039ED3;*/
    /*-fx-background-color: white;*/
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: #039ED3;
    -fx-border-radius: 50%;
}

#textField {
    -fx-background-radius: 30 30 30 30;
    /*-fx-border-radius: 14 14 14 14;*/
}

.scroll-view-background {
    -fx-background-radius: 14 14 0 0;
}

.transparent-background {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.white-background {
    -fx-background-color: white;
    -fx-background: white;
}