.appButton {
    -fx-background-color: transparent;
    -fx-background-radius: 30 30 0 0;
}

.appButton:hover {
    -fx-background-color: #e8e8e8;
}

.appButton.button-clicked {
    -fx-background-color: #e8e8e8;
}

.button {
    -fx-background-color: transparent;
}

#findingButton {
    -fx-background-image: url(../icon/search24.png);
    -fx-background-size: 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-background-color: #BED9FF;
    /*-fx-background-color: #039ED3;*/
    /*-fx-background-color: white;*/
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: #039ED3;
    -fx-border-radius: 50%;
}

#textField {
    -fx-background-radius: 30;
}

.scroll-view-background {
    -fx-background-radius: 14 14 0 0;
}

.text-areaMyNote {
    -fx-background-color: transparent;
}

.text-areaMyNote .scroll-pane {
    -fx-background-color: transparent;
}

.text-areaMyNote .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-areaMyNote .scroll-pane .content{
    -fx-background-color: transparent;
}

.transparent-background {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.white-background {
    -fx-background-color: white;
    -fx-background: white;
}

.blue-background {
    -fx-background-color: #87CEFA;
    /*-fx-background-color: linear-gradient(to bottom, #87CEFA, #039ED3);*/
}

.app-background {
    /*-fx-background-color: #f8f9fa;*/

    -fx-background-color: #e8e8e8;

    /*-fx-background-color: #dee2e6;*/
}

/*                                       Google Translate                                       */
#leftTextArea, #rightTextArea {
    /*-fx-background-radius: 14;*/
    /*-fx-border-radius: 14;*/
    -fx-focus-color: black;
    -fx-faint-focus-color: transparent;
    /*-fx-border-width: 0.2;*/
    /*-fx-border-color: black;*/
}

#leftPronounceButton, #rightPronounceButton, #swapButton, #pronounceButton, #pronounceButtonMyNote {
    -fx-background-radius: 50%;
}

#leftPronounceButton:hover, #rightPronounceButton:hover, #swapButton:hover, #pronounceButton:hover, #pronounceButtonMyNote:hover {
    -fx-background-color: rgba(90, 90, 90, 0.3);
}

/*                                           My Note                                             */
#textFieldMyNote {
    -fx-background-color: transparent;
}
.myNoteButton {
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}
.myNoteButton:hover {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}
#addButton {
    -fx-background-color: #72d572;
}
#editButton {
    -fx-background-color: #ce93d8;
}
#deleteButton {
    -fx-background-color: #f69988;
}
#helpButton {
    -fx-background-color: #bdbdbd;
}
.deleteButton {
    -fx-background-color: #f69988;
}
.okButton {
    -fx-background-color: #72d572;
}
.cancelButton {
    -fx-background-color: #bdbdbd;
}
.okHelpButton {
    -fx-background-radius: 30;
    -fx-background-color: #dedede;
}
.okHelpButton:hover {
    -fx-background-color: #eeeeee;
}