* {
    -white-color: white;
    -wrong-color: #787c7e;
    -text-fill-color: black;
    -empty-border-color: #d3d6da;
    -unlocked-border-color: #878a8c;
    -background-color: white;
    -key-background-color: #d3d6da;
    -present-color: #c9b458;
    -correct-color: #6aaa64;
}

.defaultLabel, .correctCharacter, .wrongPositionCharacter, .wrongCharacter, .currentLabel {
        -fx-font-size: 28px;
        -fx-font-weight: bold;
        -fx-border-width: 2px;
        -fx-min-width: 45px;
        -fx-min-height: 45px;
        -fx-pref-width: 50px;
        -fx-pref-height: 50px;
        -fx-text-alignment: center;
        -fx-alignment: center;
}
.defaultLabel {
        -fx-background-color: -background-color;
        -fx-border-color: -empty-border-color;
        -fx-text-fill: -text-fill-color;
}

.correctCharacter {
        -fx-background-color: -correct-color;
        -fx-border-color: -correct-color;
        -fx-text-fill: white;
}
.wrongPositionCharacter {
    -fx-background-color: -present-color;
    -fx-border-color: -present-color;
    -fx-text-fill: white;
}
.wrongCharacter {
        -fx-background-color: -wrong-color;
        -fx-border-color: -wrong-color;
        -fx-text-fill: white;
}

.defaultKeyboard, .keyboardCorrectCharacter, .keyboardPresentCharacter, .keyboardWrongCharacter {
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-min-width: 43px;
    -fx-min-height: 50px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}
.defaultKeyboard {
    -fx-background-color: -key-background-color;
}
.keyboardCorrectCharacter {
    -fx-background-color: -correct-color;
}
.keyboardPresentCharacter {
    -fx-background-color: -present-color;
}
.keyboardWrongCharacter {
    -fx-background-color: -wrong-color;
}

.defaultKeyboardSymbol {
    -fx-background-color: -key-background-color;
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 25px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.currentLabel {
    -fx-border-color: -unlocked-border-color;
}


#borderPane {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.isNotWord {
    -fx-background-color: rgb(240, 240, 240);
    -fx-border-color: -unlocked-border-color;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 10px;
}

.isNotWordLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: rgba(0, 37, 147, 1);
    -fx-font-family: "Arial";
}

.winWordLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: rgba(0, 37, 147, 1);
    -fx-font-family: "Arial";
}

.loseWordLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: rgba(0, 37, 147, 1);
    -fx-font-family: "Arial";
}